{{ define "main" }}
  <div id="homeContainer">
    <div class="homeContainerPanel">
      <img src="/images/hc-velo-1.jpg" alt="4 cyclists in hc-velo jerseys riding down a country lane">
    </div>
    <div class="homeContainerPanel">
      <h1>A cycling club for everyone.</h1>
      <div>
        <p>Holmes Chapel Velo is a cycling club based in Cheshire. We run regular weekly club rides for both serious and social riders.</p>
        <p>Please take a look at our current ride <a href="/schedule">schedule</a></p>
        <p>Checkout our <a href="/links/instagram">Instagram</a> account</p>
        <p>Or get in touch on <a href="/links/facebook">Facebook</a></p>
    </div>
    </div>
    <div class="homeContainerPanel">
    </div>
  </div>
  <div id="homeVideo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7G_bNnWryfY?si=SvdqFiTmKgUgw8-i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
{{ end }}
