{{ define "main" }}
  <div id="homeContent" class="montserrat">
    <img width="100%" src="/images/hc-velo-banner.jpg" alt="2 hc velo riders">
    <h2 class="montserrat-bold">A cycling club for everyone.</h2>
    <p>We run regular weekly club rides for both serious and social riders.</p>
  <p>Please take a look at our current ride <a href="/schedule">schedule</a>, checkout our <a href="/links/instagram">Instagram</a> account or get
    in touch on <a href="/links/facebook">Facebook</a>.</p>
  </div>
  <!--
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
  -->
{{ end }}
