.montserrat-bold, .homeContainerPanel h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat, .homeContainerPanel p, #ridesListContainer a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
	--velo-black: #1d1d1b;
	--velo-blue: #3699f5;
	--velo-red: #f50505;
}

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	font-size: 65%;
}

body {
	margin: 0px;
	background-color: var(--velo-black);
	color: white;
}

a {
	color: white;
}

.container {
	min-width: 300px;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-color: var(--velo-black);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
}

#socials {
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 10px;
	margin-right: 10px;
	gap: 15px;
}

.fa-icon {
	width: 2.4rem;
	height: 2.4rem;
	fill: white;
}

@media screen and (max-width: 600px) {
	header {
		grid-template-columns: 0fr 1fr 1fr;
	}
}

nav {
	border-top: 4px solid var(--velo-blue);
	padding: 6px;
	color: white;
	background-color: var(--velo-black);
	border-bottom: 4px solid var(--velo-red);
	text-align: center;
	font-size: 2.4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
nav a {
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	nav {
		flex-direction: column;
		gap: 4px;
	}
	.menuOption {
		display: none;
	}
	#menuButton {
		display: inline;
	}
}
@media not screen and (max-width: 600px) {
	nav {
		flex-direction: row;
	}
	.menuOption {
		display: inline;
	}
	#menuButton {
		display: none;
	}
}

#menuButton {
}

#headerlogo {
	text-align: center;
}
#headerlogo img {
	max-height: 100px;
}

@media screen and (max-width: 600px) {
	#homeContent img {
		display: none;
	}
}

#homeContainer {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.homeContainerPanel {
	padding: 20px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homeContainerPanel img {
	max-width: 75%;
	border-radius: 10px;
}

.homeContainerPanel h1 {
	font-size: 5rem;
	margin-bottom: 20px;
}
.homeContainerPanel p {
	font-size: 2.4rem;
	margin-bottom: 20px;
}

.homeContainerPanel a {
	color: white;
}

#homeVideo {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 1000px) {
	#homeContainer {
		grid-template-columns: 1fr;
	}
}

#ridesListContainer {
	padding: 10px;
	max-width: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#ridesListContainer a {
	color: white;
}

.sectionList {
	margin-top: 20px;
	padding: 10px;
	font-size: 2.4rem;
}
.sectionList h2 {
	text-align: center;
}
.sectionList ul {
	list-style-type: none;
	text-align: center;
	line-height: 1.8;
}
.sectionList a {
	cursor: pointer;
	color: white;
}
.contentPage {
	margin-top: 20px;
	padding: 10px;
	line-spacing: 2;
	font-size: 2.4rem;
}
.contentPage h2, .contentPage h3 {
	font-size: 3rem;
	margin-top: 60px;
	margin-bottom: 10px;
}
.contentPage p {
	font-size: 2.5rem;
	margin-top: 20px;
	margin-bottom: 10px;
}
.contentPage table {
    border-collapse: collapse;
    margin: 50px auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.contentPage table thead {
	border-bottom: 2px solid var(--velo-red);
}
.contentPage table tr:nth-child(even) {
	border-bottom: 2px solid var(--velo-red);
	border-top: 2px solid var(--velo-blue);
}
.contentPage table {
	border-bottom: 2px solid var(--velo-blue);
}
.contentPage table thead tr {
    text-align: left;
}
.contentPage table th,
.contentPage table td {
    padding: 18px 15px;
}
.contentPage ul {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 2.5rem;
}

#gallery {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #1d1d1b;
}
